<section class="create-task">
    <form class="form__task" action="/user/add-task" method="POST">
        <div class="input__div input__div-name">
            <label class="create-task__label" for="task_name"
                ><i class="fa-solid fa-plus"></i
            ></label>
            <input
                class="create-task__input task__name"
                id="task_name"
                name="task_name"
                type="text"
                placeholder="Task name"
				autocomplete="off"
            />
        </div>

        <div class="input__div input__div-priority">
            <label class="create-task__label" for="task-priority"></label
				>Priority:
			</label>
            <select
                class="create-task__input"
                id="task-priority"
                name="task_priority"
            >
				<option value="low" <%= oldInputs.priority === 'low' ? 'selected' : '' %>>low</option>
				<option value="medium" <%= oldInputs.priority === 'medium' ? 'selected' : '' %>>medium</option>
                <option value="high" <%= oldInputs.priority === 'high' ? 'selected' : '' %>>high</option>
            </select>
        </div>

        <div class="input__div input__div-category">
            <label class="create-task__label" for="task-category"
                >Category:</label
            >
            <select
                class="create-task__input"
                id="task-category"
                name="task_category"
            >
			<option value="general" <%= oldInputs.category === 'general' ? 'selected' : '' %>>general</option>
			<option value="work" <%= oldInputs.category === 'work' ? 'selected' : '' %>>work</option>
			<option value="personal" <%= oldInputs.category === 'personal' ? 'selected' : '' %>>personal</option>
			<option value="study" <%= oldInputs.category === 'study' ? 'selected' : '' %>>study</option>
			<option value="health" <%= oldInputs.category === 'health' ? 'selected' : '' %>>health</option>
            </select>
        </div>

        <div class="input__div input__div-date">
            <label class="create-task__label" for="task_date">Due to: </label>
            <input
                class="create-task__input"
                id="task_date"
                type="datetime-local"
				name="task_due_to"
				value="<%= oldInputs.dueToDate %>"
            />
        </div>

        <button class="create-task__button" type="submit">Add</button>
    </form>
</section>
