<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body class="body">
        <%- include('../includes/header.ejs') %>
        <main>
            <%- include('../includes/menu.ejs') %>
            <div class="div-main">
                <%- include('../includes/info.ejs', {infoName: 'My day', icon:
                'fa-solid fa-sun'}) %> <%- include('../includes/taskFields.ejs')
                %> <%- include('../includes/taskList.ejs') %>
            </div>
        </main>
    </body>
</html>
