<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header.ejs') %>
        <div class="layout">
            <%- include('../includes/menu.ejs') %>
            <main class="main">
                <%- include('../includes/description.ejs') %>
				<%- include('../includes/tasks.ejs') %>
            </main>
        </div>
    </body>
</html>
